<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            #{msgs.canceled}
            <br />
            <h:commandButton value="#{msgs.back}" action="index" />
        </h:form>
    </h:body>
</html>
